body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #37374f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(´moto´);
}